* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#light {
  background-color: white;
  color: black;
  --color-2:  #080808;
  --color-3: #2693e6;
  --color-5: #eb4034;
  --color-4: #494949;
  --color-6: #aaaaaa;
  --color-7: #d3d3d3;
  --color-8: white;
}
#dark {
  background-color:  #242526;
  color: white;
  --color-2:  white;
  --color-3: #2693e6;
  --color-5: #eb4034;
  --color-4: #aaaaaa;
  --color-6: #333;
  --color-7: #3d3d3d;
  --color-8: #242526; 
}

.switch {
  display: flex;
  margin-top: 7px;
}

/* App container */
.app_container {
  overflow-y: hidden;
  width: auto;
  height: 100vh;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 20px;
  background-color: var(--color-1);
  border-bottom: 1px solid var(--color-6);
}
nav a {
  color: var(--color-2);
  text-decoration: none;
}
nav div a {
  margin-right: 20px;
}

section {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: 1px 2px 10px var(--color-4);
  padding: 10px 20px;
  border-radius: 5px;
}
section h3 {
  text-align: center;
  font-size: 20px;
  color: var(--color-4);
}
.logo {
  width: 30px;
  padding-right: 5px;
}
.logo_title {
  display: flex;
  font-weight: normal;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #d4418e;
  background-image: linear-gradient(0, #d4418e 0%, #66237e 80%);
}
.login_pic {
  padding: 50px;
}
.login_buttons_div {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.login_btn_1 {
  background: #FFFFFF;
  height: 40px;
  width: 125px;
  border: 2px solid #000000;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  font-size: 16px;
  margin: 20px;
}
.login_btn_1:hover {
  transform: scale(1.05);
}
.login_btn_2 {
  background: #000000;
  color: white;
  height: 40px;
  width: 125px;
  border: 2px solid #000000;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  font-size: 16px;
  margin: 20px;
}
.login_btn_2:hover {
  transform: scale(1.05);
}
.login_border {
  border-bottom: 1px solid var(--color-6);
  padding-top: 10px;
  padding-bottom: 10px;
}
.logout_container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logout_container div {
  margin-right:7px;
}
/* Register */
section .form {
  padding: 0px 20px;
}
.input_container {
  margin-top: 20px;
}
.input_container input {
  width: 100%;
  padding: 10px;
  outline: none;
  margin-top: 10px;
  border: 1px solid var(--color-6);
  border-radius: 5px;
}
.btn_container {
  margin: 10px 0px;
  text-align: center;
}
.btn {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--color-4);
  background: var(--color-1);
  color: var(--color-2);
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  font-size: 16px;
}
.btn:hover {
  transform: scale(1.05);
}
.error {
  text-align: center;
  color: var(--color-5);
}
/* Create Conversation */
.create_convo_btn {
  display: flex; 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 20; 
  justify-content: center; 
  align-items: center; 
  width: 100%;
  height: 100%; 
  background: #00000080;
}
.stop_propagation {
  overflow: hidden; 
  width: 30%;
  border-radius: 0.5rem; 
  background-color: var(--color-8);
}
.create_convo_div {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}
.create_convo_div_inner {
  flex: 1 1 0%; 
}
.create_convo {
  display: flex; 
  flex: 1 1 0%; 
  justify-content: center; 
  align-items: center; 
}
.create_convo_title {
  font-size: 1.5rem;
  line-height: 2rem; 
  text-align: center; 
  white-space: nowrap; 
}
.create_convo_close {
  display: flex; 
  flex: 1 1 0%; 
  justify-content: flex-end; 
  align-items: center; 
}
.create_convo_close_btn {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 30px; 
  height: 30px; 
  border-radius: 9999px; 
  margin-right: 10px;
}
.create_convo_close_btn i {
  font-size: larger;
}
.create_convo_loading {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 24rem; 
}
.creating_convo {
  display: flex; 
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index: 20; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  height: 100%; 
}
.create_convo_users {
  display: flex; 
  overflow-y: auto; 
  padding: 20px;
  flex-direction: column; 
  align-items: stretch; 
  height: 300px; 
  gap: 20px; 
}
.create_convo_user {
  display: flex; 
  align-items: center; 
  cursor: pointer; 
  gap: 5px; 
}
.create_convo_avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.start_convo_button_div {
  display: flex; 
  padding: 12px; 
  justify-content: flex-end; 
  border-top-width: 1px; 
  border-top: 2px solid var(--color-6);
}
.start_convo_button {
  padding-top: 5px;
  padding-bottom: 5px; 
  padding-left: 10px;
  padding-right: 10px; 
  border-radius: 20px; 
}
.start_convo_button:hover {
 filter: brightness(1.25); 
}
/* Profile */
.profile_container {
  display: flex;
  align-items: center;
}
.img_container {
  position: relative;
  margin-right: 20px;
}
.img_container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--color-4);
  transition: 0.5s ease-in-out all;
}
.img_container:hover img {
  opacity: 0.4;
}
.img_container:hover .overlay {
  opacity: 1;
}
.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text_container {
  flex-grow: 1;
}
.text_container h3 {
  text-align: left;
}
.home_container {
  display: flex;
  height: auto;
  width: auto;
}
.home_container_no_convo {
  display: flex;
  height: auto;
  width: auto;
}
.floating_btn_container{
  position: fixed;
  bottom: 30px;
  left: 310px;
  cursor: pointer;
}
.iconbutton{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #000000;
  box-shadow: 2px 2px 7px var(--color-4);
}
.button {
  width: 50px;
  height: 50px;
  background: #178d7d;
}
.iconbutton i {
  display: flex;
  font-size: 23px;
  align-items: center;
  justify-content: center;
  height:  90%;
  color: white;
} 
.users {
  overflow-y: auto;
  height: auto;
}
.users_container {
  overflow-y: auto;
  min-width: 390px;
  border-right: 1px solid var(--color-6);
  height: auto;
}
.users_container_no_convo {
  min-width: 390px;
  border-right: 1px solid var(--color-6);
  height: auto;
}
.user_wrapper {
  cursor: pointer;
}
.user_info {
  text-decoration: none;
  display: flex;
  width: 100%;
  padding-left: 3%;
  align-items: center;
}
.user_detail {
  display: flex;
  width: 100%;
  align-items: center;
}
.user_detail_div {
  margin-left: 10px;
  margin-top: 2px;
  max-width: 100%;
  color: var(--color-2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.avatar {
  width: 50px;
  height: 45px;
  border-radius: 50%;
}
.group_avatar_div {
  padding-right: 10px;
}
.group_avatar { 
  margin-left: -60px;
  position: static;
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  border: 5px solid var(--color-6);
}
.user_status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.online {
  background: #34eb52;
}
.offline {
  background: var(--color-5);
}
.messages_container {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.messages_container_no_convo {
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.messages_user_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.messages_user_back {
  font-size: 36px;
  text-decoration: none;
  background:none; 
  border:none;    
  display: hidden;
  visibility: hidden;
  color: var(--color-2);
  padding: 8px 16px;
}
.messages_user_back:hover {
  background-color: #00000080;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
.messages_user {
  padding: 11px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--color-6);
}
.no_conv {
  vertical-align: middle;
  font-size: 20px;
  color: var(--color-4);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  flex-grow: 1;
  font-weight: bold;
}
.message_form_div {
  display: flex;
  bottom: 0px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid var(--color-6);
  padding-top: 4px;
  padding-right: 10px;
}
.message_form {
  height: auto;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-basis: 50%;
  align-items: inherit;
}
.message_form_span {
  display:table-cell; 
  width: 100vw;
  padding-right: 10px;
}
.message_form input {
  padding: 8px;
  font-size: 16px;
  width: 100%;
  border-radius: 25px;
  border: none;
  color: var(--color-2);
  background-color: var(--color-6);
}
.messages { 
  height: calc(100vh - 210px);
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
}
.message_wrapper {
  margin-bottom: 5px;
  width: auto;
  flex-grow: 1;
  padding: 0px 5px;  
}
.message_wrapper img {
  width: 100%;
  border-radius: 5px;
}
.message_wrapper p {
  padding: 10px;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
}
.message_wrapper small {
  display: inline-block;
  margin-top: 15px;
  opacity: 0.8;
}
.message_wrapper.own {
  text-align: right;
}
.me {
  background: var(--color-3);
  color: white;
  word-wrap: break-word;
  max-width: 500px;
  margin-right: 10px;
}
.friend {
  background: var(--color-6);
  color: white;
  max-width: 500px;
  margin-left: 20px;
  word-wrap: break-word;
}
.selected_user {
  background: var(--color-6);
}
.truncate {
  font-size: 14px;
  white-space: nowrap;
  flex: 1;
}
.unread {
  margin-left: 10px;
  background: var(--color-3);
  color: white;
  padding: 2px 4px;
  border-radius: 10px;
}
.sm_screen {
  display: none;
}
@media screen and (max-width: 767px) {
  .home_container_no_convo {
    height: 100%;
    flex-direction: row;
  }
  .users_container_no_convo {
    width: 100%;
    flex-grow: 1;
    border-right: 0px;
  }
  .users_container {
    display: none;
    visibility: hidden;
  }
  .floating_btn_container {
    bottom: 5%;
    left: 80%;
  }
  .message_form {
    left: 3%;
    right: 0;
    bottom: 5px;
    font-size: 16px;
  }
  .message_wrapper p {
    max-width: 75%;
  }
  .no_conv {
    display: none;
    visibility: hidden;
  }
  .messages_user_back {
    font-size: 36px;
    text-decoration: none;
    display: inline-block;
    visibility: visible;
    color: var(--color-2);
    padding: 8px 16px;
  }
  .login_div {
    flex-direction: column;
  }
  .login_pic {
    padding: 25px;
    width: 300px;
    height: 300px;
  }
  .login_buttons_div {
    margin-top: 55px;
    flex-direction: row;
    justify-content: space-around;
  }
  .login_popup_box {
    width: 100vw;
    height: 100vh;
  }
  .login_box {
    width: 100%;
    height: 100%;
  }
  .stop_propagation {
    width: 100%;
    height: 100%;
  }
  .create_convo_users {
    height: 80%;
  }
}

@media screen and (max-width: 576px) {
  .home_container {
    width: 100vw;
  }
  .user_wrapper {
    display: none;
  }
  .sm_container {
    padding: 10px 0px;
    text-align: center;
    cursor: pointer;
  }
  .sm_screen {
    display: inline-block;
  }
  .message_form input {
    width: 100%;
    margin: 0px 10px;
  }
  .message_form .btn {
    margin: 0px;
  }

  .message_wrapper p {
    max-width: 100%;
  }
}
/* Popup style */
.popup_box {
  position: fixed;
  background: #00000080;;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.popup_box input {
  width: 100%;
  padding: 10px;
  outline: none;
  margin-top: 10px;
  border: 1px solid var(--color-6);
  border-radius: 5px;
}
.box {
  position: relative;
  width: 60%;
  margin: 0 auto;
  height: 40%;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: var(--color-8);
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
.close_icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  left: 75%;
  top: 12.5%;
  background: var(--color-1);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
.button_div {
  margin-top: 20px;
  height: auto;
  width: 99%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
/* login-pop-up */
.login_popup_box {
  position: fixed;
  display: flex;
  align-items: center;
  background: #00000080;;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.login_box {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background: var(--color-8);
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
.login_form {
  width: 100%;
}
.login_popup_back {
  width: fit-content;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-7);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-4); 
}